.header {
    display: flex;
    height: 80px;
    align-items: center;
    background: rgb(0,152,247);
    background: linear-gradient(90deg, rgba(0,152,247,1) 0%, rgba(18,242,213,1) 100%);
    .logo {
        margin-left: 30px;
        width: 50px;
    }
    .name {
        margin-left: 20px;
        font-size: 30px;
        color: #fff;
    }
    .team {
        margin-left: 20px;
        font-size: 30px;
        color: #1F2667;
        margin-left: auto;
        margin-right: 30px;
    }
}