.back {
    padding-top: 80px;
    width: fit-content;
    display: flex;
    align-items: center;
    color: #1976d2;
    font-size: 20px;
    cursor: pointer;
    .back-text {
        margin-left: 5px;
        line-height: 26px;
    }
}

.title-product {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #0080ff;
}

.product {
    margin-top: 40px;
    display: flex;
    .image {
        margin-left: 200px;
        width: 400px;
        .img {
            width: 400px;
        }
    }
    .info {
        margin-left: 50px;
        .info-row {
            display: flex;
            margin-top: 10px;
            padding-bottom: 3px;
            border-bottom: solid 1px #444444;
            .name {
                font-size: 20px;
                font-weight: 500;
                width: 200px;
            }
            .value {
                width: 400px;
            }
        }
    }
}

.compare {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .title-1 {
        font-size: 20px;
        font-weight: 600;
        justify-content: center;
        display: flex;
    }
    .table {
        align-self: center;
        margin-top: 20px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        width: 50%;
        thead {
            th {
                font-weight: 600;
            }
        }
    }
}